.frame {
  position: absolute;
  inset: 0;
}

.barLeft,
.barRight {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 10px;
  background: var(--dsw-alias-bg-layer-1, #000);
  border-color: var(--dsw-alias-border-l1, currentColor);
}

.barLeft {
  left: 0;
  border-right: 1px solid var(--dsw-alias-border-l1, currentColor);
}

.barRight {
  right: 0;
  border-left: 1px solid var(--dsw-alias-border-l1, currentColor);
}

.barBottom {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 10px;
  background: var(--dsw-alias-bg-layer-1, #000);
  border-top: 1px solid var(--dsw-alias-border-l1, currentColor);
}
